.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Author{
  color:red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  border-bottom:1px solid gainsboro;
}

.nav-item{
  margin-right:30px;
}

.trendingStories{
  margin-top:30px;
}

.createStory{
  color:red;
  margin-top:13px;
}

.viewAll{
  font-size: 13px;
  float:right;
}

.contentContainer{
  border:1px solid gainsboro;
  padding:15px;
  margin:20px 0px;
}

.trendingWrapper{
  padding:10px 0px;
  border-bottom:1px solid black;
}

.numStyle{
  background-color: red;
  padding:5px;
  width:29px;
  border-radius:360px;
  border:1px solid grey;
  color:white;
  font-size:12px;
}

.contentAction{
  border-top:1px solid gainsboro;  
  padding:10px;
  padding-bottom:0px;
}

.logo{
  margin-right:20px;
}

.downmenu{
  padding-left:170px;
}

.search-text{
  min-width:450px;
}

.search-button{
  margin-right:60px;
}

.main{
  margin-top:100px;
}

.imgNews{
  width:100%;
}

.page-footer{
  border-top:1px solid gainsboro;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
